@charset "UTF-8";
body {
 font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal; 
  font-variation-settings:
    "wdth" 100;
  margin: 0;
  color: #012030;
  font-size: 1em;
 
  background-color: #d3ffb3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%2358a507' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");  
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#098F0A;
  display: flex;
  justify-content: center;
}

ul li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 2em;
  border: 1px solid #fff
}

ul li {
  float: left;
  width: 25%;
  
}


ul li a:hover {
  background-color:#FFFFFF;
  color: #009200;
}

ol {
	margin-left: 150px;
}

ol li {
	font-size: 1.5em;
	color: #00075D;
	padding-bottom: 0.7em
}

.visited {
	background-color: aqua;
	color: #009200;
}

figcaption {
	text-align: center;
	font-size: 1.2em;
}

h1 {
	color: #010027;
  	font-family: "Orelega One", serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 6em;
	padding-bottom: 30px;
	text-align: center;
}

a {
	color: #2945FF;
	
}
a:hover {
	color: lightcoral;
}

a.button {
	background-color: #91DD5E;
	color: white;
	text-decoration: none;
	font-size: 1.4em;
	text-align: center;
	display: inline-block;
	border-radius: 50px;
	padding: 18px;
	cursor: pointer;
}

.button:hover {
	background-color: white;
	color: #91DD5E;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
	color: #13678A;
	font-family: "Orelega One", serif;
	font-size: 5.5em;
	text-align: center;
		
}

h3 {
	font-family: "Nunito", sans-serif;
	color: #13678A;
	font-size: 3.7em;
	margin-left: 150px;
	margin-right: 150px;
}

img {
	padding: 30px;
    display: block;
    margin: auto;
}

.leftImage {
	float: left;
	padding-right: 50px;
}

.rightImage {
	float: right;
	padding-left: 50px;
	padding-bottom: 50px;
	padding-top: 50px;
}

p {
	font-family: "Instrument Sans", sans-serif;
	padding-bottom: 10px;
	font-size: 1.2em;
	color: #00075D;
	margin-left: 150px;
	margin-right: 150px;
}

footer {
	background-color:#91DD5E;
	color: #D1FEB4;
	/*position: fixed; this makes the header be there at the bottom wherever you scroll*/
	bottom: 0;
	width: 100%;
	padding: 1%;
}

header {
	padding: 7%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #7FEE9C;
}

section {
	padding: 7%;
}

section.BG {
	background-color: #92FCE5;
}

q {
	color: #00698D;
	font-size: 1.5em;
	letter-spacing: 1px;
	border-width: thin;
}

.text-box {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	margin-top: 20px;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../Downloads/hero-01.png";

  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}


